<div class="row">

	<% var selectType = function () {
			if (goal.get('goalType')==1) {
				return { t:"weight", m:"kg"};; 
			}else if (goal.get('goalType')==2) {
				return { t:"calories", m:"cal"}; 
			}else if (goal.get('goalType')==3) {
				return { t:"distance", m:"km"};
			}else if (goal.get('goalType')==4) {
				return { t:"sleep", m:"hours"};
			}else if (goal.get('goalType')==5) {
				return { t:"steps", m:"steps"};;
			}else if (goal.get('goalType')==6){
				return { t:"floors", m:"floors"};
			}else{
				return {};
			};
		} %>

	<div class="col-md-7">
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Information</strong></h3>
            </div>
            <div class="panel-body">           	
            	<div class="alert alert-success" role="alert">
					<h3><strong>Your goal value:</strong> <%= goal.get('goalValue') %><%= selectType().m%></h3>
				</div>	
    			<div class="alert alert-danger" role="alert">
					<h3><strong>End at:</strong> <%= new Date(goal.get('goalDateEnd')) %></h3>
				</div>	
				<div class="alert alert-info" role="alert">
					<%  var d = new Date();
						var currDate = d.getTime();
						var dateEnd = goal.get('goalDateEnd');
						var dateStart = goal.get('goalDateStart');
						var tot = dateEnd -dateStart;
						var perc = ((dateEnd - currDate)/tot)*100;
						var res = (dateEnd - currDate)/(1000*60*60*24);
						var daysLeft = Math.floor(res);
					%>
					<h3><strong>Days left:</strong> <%= daysLeft %></h3>
					<div class="progress">
				  		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= perc %>%">
				  		</div>
					</div>
				</div>

            </div>
        </div>
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Your <%= selectType().t%> situation</strong></h3>
            </div>
            <div class="panel-body">
            	<div id="gviz" class="col-md-7" style="width:650px;height:300px;"></div>
            </div>
        </div>
    </div>
	
    <div class="col-md-5">
    	

		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Goal: </strong><%= selectType().t %></h3>
            </div>
            <div class="panel-body">
        		<table class="table striped datapoints">
					<thead>
						<tr>
							<th style="color: #015697">Day</th>
							<th style="color: #015697">Value</th>
							<th style="color: #015697">Description</th>
							<th style="color: #015697">Date</th>
						</tr>
					</thead>
					<tbody>
						<%var day_num=1;%>	
						<% datapoints.each(function (datapoint) { %>
							<tr>
								<td><%= day_num%></td>
								<%day_num++%>
								<td> <strong><%= datapoint.get("value") %> <%= selectType().m %> </strong></td>
								<td> <%= datapoint.get("description") %> </td>
								<% var time = new Date(datapoint.get("timestamp")); %>					
								<td> <%= time %> </td>
							</tr>
						<% }); %>			

					</tbody>
		
				</table>        
            </div>
        </div>
    	
		
    </div>
						
</div>

