<div class="row">
	<h2>My Goals</h2>
	<table class="table striped mygoals">
		<thead>
			<tr>
				<th>Title</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<% goals.each(function (goal) { %>
				<tr>
					<td> <a href="#/goal/<%= goal.id %>"><%= goal.get("title") %></a> </td>
					<% var selectType = function () {
						if (goal.get("goalType")==1) {
							return { s : "label-success", t:"weight"};
						}else if (goal.get("goalType")==2){
							return { s : "label-danger", t:"calories"};
						}else if (goal.get("goalType")==3){
							return { s : "label-primary", t:"distance"};
						}else {
							return { s : "label-default", t: goal.get("goalType")}; 
						};
					} %>
					<td> <span class="label <%=selectType().s%>"><%= selectType().t %></span> </td>
				</tr>
			<% }); %>			
		</tbody>
		
	</table>					
</div>