<div class="panel panel-primary">
	<div class="panel-heading">
    	<h3 class="panel-title">My Goals</h3>
  	</div>
  	<div class="panel-body">
		
			<div class="list-group">
				<% goals.each(function (goal) { %>

					<% var selectType = function () {
						if (goal.get("goalType")==1) {
							return { s : "label-success", t:"weight"};
						}else if (goal.get("goalType")==2){
							return { s : "label-primary", t:"calories"};
						}else if (goal.get("goalType")==3){
							return { s : "label-danger", t:"distance"};
						}else {
							return { s : "label-default", t: goal.get("goalType")}; 
						};
					} %>
					
					<div class="panel panel-default">
					  <div class="panel-body">
					    <a href="#/goal/<%= goal.id %>" class="list-group-item">
					    	<strong><%= goal.get("title") %></strong>
					    </a>
					    <span class="label pull-left <%=selectType().s %>"><%= selectType().t %></span>
					    <a href="#/edit/<%= goal.id %>" class="btn btn-danger pull-right" role="button">Edit Goal</a>
					  </div>
					</div>
						          			
				<% }); %>
				
			</div>
			<div>
				<center>
					<a href="#" class="btn btn-primary" role="button">Add Goal</a>
					</center>
				</div>
	</div>
</div>